.contacto {
  background: #2d2e32;
  background: linear-gradient(
    90deg,
    rgb(22, 22, 25) 10%,
    rgba(45, 46, 50, 1) 38%
  );

  padding: 5px 5%;
  text-align: left;
  color: ivory;
  line-height: 25px;
  margin: 3% 0 0;
}

.container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 3% 0;
  text-wrap: pretty;
}
